.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.user-logo {
  width: 100px;
}
.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.user-name {
  color: #12022f;
  font-size: 20px;
}
.user-para {
  color: #616e7c;
  margin-top: 0px;
}
